<% layout('layouts/boilerplate')%>
<div class="col-9 offset-1"><h1 style="text-align: center;">YelpCamp!</h1>
    <p>Welcome to YelpCamp, your go-to source for honest and reliable reviews of campgrounds from around the world. Whether you're an experienced camper or just starting out, our reviews will help you find the perfect campground for your next outdoor adventure.

        At Campground Reviews, we believe that the great outdoors should be accessible to everyone, and that's why we're dedicated to providing thorough and unbiased reviews of campgrounds from every corner of the globe. We take the time to visit each campground in person and assess its facilities, location, and overall atmosphere, so you can be sure you're getting the best possible information.
        
        Our team of dedicated reviewers has years of experience camping and hiking, and we've seen it all when it comes to campgrounds. We know what makes a great campsite and what to look out for, and we're always on the lookout for hidden gems and great value options.
        
        In addition to our expert reviews, we also offer a wide range of resources and tips to help you plan your next camping trip. From advice on choosing the right gear to suggestions for fun activities, we're here to help you make the most of your time in the great outdoors.
        
        So whether you're planning a weekend getaway or a longer adventure, be sure to check out Campground Reviews for all the information you need to find the perfect campsite. Happy camping!</p></div>    
